@charset "utf-8";
/* CSS Document */

body {
	background-color: #000000;
	margin: 0px;
	margin-left: 50%;
	margin-top: 25px;
}

#container {
	position: relative;
	left: -380px;
	width: 760px;
	background-color: #000000;
}

#bg {
	background-image: url(../img/the_barkers_bg.png);
	height: 760px;
	width: 760px;
	margin: 0px;
	position: absolute;
}